include _vars.pug

doctype html
html.no-js(lang='it')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title #{title}
    meta(name='description' content=description)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- Facebook
    meta(property='og:title' content=title)
    meta(property='og:description' content=description)
    meta(property='og:image' content=url+thumbnail)
    meta(property='og:url' content=url)
    meta(property='fb:app_id' content=facebookID)
    link(rel='stylesheet' href='/css/all.css')
  body
    block content
    script(src='/js/all.js')
